<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.gt.wide.mapper.UserMapper">
	<!-- User findUserByUsername(String username) -->
	<select id="findUserByUsername" resultType="com.gt.wide.bean.User">
		select name from wide_users where name = #{username}
	</select>	
</mapper>